{% extends "base.html" %}

{% block content %}
    <section id="main-content">
        <div class="row">
            <div class="medium-8 columns">
                <div class="row">
                    <div class="orbit-container">
                        <ul data-orbit class="orbit orbit-container" data-options="timer_speed:3000;">
                            {% for img in image %}
                                <li>
                                    <img src="{{ img.image.url }}">
                                    <div class="orbit-container">
                                        {% if img.caption %}<p>{{ img.caption }}</p>{% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="medium-4 columns">
                <ul id="news_list">
                    {% for n in news %}
                        <li><a href="{% url news_show n.id %}">{{ n.title }}</a></p></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

{% endblock %}